body {
    background-color: rgb(0, 122, 153);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 0px;
    margin-top: 10%;
    
}

h1, h2 {
    text-align: center;
}

h1 {
    color: white;
    font-size: 3em;
    word-spacing: 5px;
    text-shadow: 2px 2px gold;
}

h2 {
    color: rgb(230, 250, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    letter-spacing: 3px;
}

article {
    border: 10px groove white;
    padding: 30px;
    background-color: rgb(204, 245, 255);
    color: rgb(0, 82, 102); 
    line-height: 2;
    text-align: center;
    font-size: 3em;
}

#score {
    text-align: center;
    margin: 5em;
    padding: 50px;
    color: goldenrod;
    background-color: rgb(0, 41, 51);
    border: 2px dotted goldenrod;

}

#can-you-guess {
    padding: 3em;
}

.game-section {
    margin: auto;
    width: 40%;
}

.history-answers {
    background: rgb(14, 112, 148);
    margin: auto;

}

#try-game {
    display: block;
    font-weight: bold;
    line-height: 3em;
}

#history {
    color: whitesmoke;
    font-size: 1.25em;
    line-height: 2em;
    width: 80%;
    margin: auto;
    padding: 5em;
}

.moreAbout {
    background: rgb(44, 63, 70);
    color: whitesmoke;
}

.hobbies, .bucket-list {
    padding: 10%;
    float: left;
    line-height: 4em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}
.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
  }

